.mail-filter {
    all: unset;
    background: #eaf1fb;
    border-radius: 8px;
    padding: 1rem ;
    padding-right:15em ;
    text-align: left;

}

.mail-filter input{
    all: unset;
    font-size: 16px;
    

}
.mail-filter span{
    cursor: default;
    margin-inline-end: 1rem;
    font-size: 20px;



}