.mail-folder-list{
    padding: 0 1em;
    width: 30vw;
    
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: fixed;
    row-gap: 1em;
    padding-top: 2em;
    width: 83px;
    height: 100%;
    z-index: 1;
    background: var(--main-bg-color);
    transition: width 100ms;
    font-family: roboto, serif;
}

.mail-folder-list:hover {
    width: 250px;
}


/* round buttons */

.btn-round {
    border-radius: 2em;
    align-self: flex-start;
    padding: 0.75em ;
    position: relative;

}

.btn-round:hover  {
    background-color: rgba(32,33,36,0.059);

    padding-inline-end: 10.25em;
}


.mail-folder-list a.active{
    color: #031e49;
    background-color: #d3e3fd;

}

.mail-folder-list:hover a.active{
    padding-inline-end: 10.25em;
}

.mail-folder-list:hover .btn-round-compose {
    background-color: #c2e7fd;
    transform: translateX(-3%);
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    padding-inline-end: 5.25em;
}



.btn-round-compose {
    border-radius: 16px;
    background-color: #c2e7fd;
    align-self: flex-start;
    padding: 0.75em 0.75em;
    position: relative;
    transform: translateX(-10%);

}



.btn-round-compose {
    font-size:24px;
}

.mail-folder-list:hover  .mail-folder-list-pen::after {
    content: 'Compose';
    position: absolute;
    left: 3.7em;
    top:1.2em;
    font-size:18px;


     animation: fadeIn 1.3s

}



.mail-folder-list:hover  .mail-folder-list-sent::after {
    content: 'Sent';
    position: absolute;
    left: 3.7em;
    animation: fadeIn 1.3s

}
.mail-folder-list:hover  .mail-folder-list-inbox::after {
    content: 'Inbox';
    position: absolute;
    left: 3.7em;
     animation: fadeIn 1.3s

}
.mail-folder-list:hover  .mail-folder-list-draft::after {
    content: 'Draft';
    position: absolute;
    left: 3.7em;
     animation: fadeIn 1.3s

}
.mail-folder-list:hover  .mail-folder-list-star-active::after {
    content: 'Starred';
    position: absolute;
    left: 3.7em;
     animation: fadeIn 1.3s

}
.mail-folder-list:hover  .mail-folder-list-star::after {
    content: 'Starred';
    position: absolute;
    left: 3.7em;
     animation: fadeIn 1.3s

}
.mail-folder-list:hover  .mail-folder-list-box-archive::after {
    content: 'Archive';
    position: absolute;
    left: 3.7em;
     animation: fadeIn 1.3s

}
.mail-folder-list-inbox,
.mail-folder-list-draft, 
.mail-folder-list-inbox, 
.mail-folder-list-sent,
.mail-folder-list-star,
.mail-folder-list-star-active,
.mail-folder-list-pen,
.mail-folder-list-box-archive{
    font-family: Roboto;
}




.mail-folder-list-inbox-amount{
    margin-left: 100px;
}

  .mail-folder-list-btn-menu {
    display: none;
  }
  
  
  @media (max-width: 940px) {
    .mail-folder-list-btn-menu {
      display: block;
      margin: auto;
      align-self: flex-start;
      padding: 0.75em ;
      padding-inline-end: 10.25em;
    }
  
}


