.mail-list table {
  height: 100%;
  table-layout: fixed;
    width: 100%;
  border-radius: 25px;
  background-color: var(--secondery-bg-color);
  border-collapse: collapse;
  border-spacing: 0;
  border-collapse: separate; 
border-spacing: 1em;


}

.mail-list table.fixed {
  table-layout: fixed;
}
.mail-list table.fixed td {
  overflow: hidden;
}