.mail-folder-list{
    padding: 0 1em;
    width: 30vw;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    position: fixed;
    row-gap: 1em;
    padding-top: 2em;
    width: 83px;
    height: 100%;
    z-index: 1;
    background: var(--main-bg-color);
    transition: width 100ms;
    font-family: roboto, serif;
}

.mail-folder-list:hover {
    width: 250px;
}


/* round buttons */

.btn-round {
    border-radius: 2em;
    align-self: flex-start;
    padding: 0.75em 0.75em;
    position: relative;

}

.btn-round:hover  {
    background-color: rgba(32,33,36,0.059);

    padding-inline-end: 9.25em;
}


.mail-folder-list a.active{
    color: #031e49;
    background-color: #d3e3fd;

}

.mail-folder-list:hover a.active{
    padding-inline-end: 9.25em;
}


.compose{
    font-size:24px;
}
.mail-folder-list:hover  .mail-folder-list-pen::after {
    content: 'Compose';
    position: absolute;
    left: 5.7em;
     animation: fadeIn 1.3s

}


.mail-folder-list:hover  .mail-folder-list-sent::after {
    content: 'Sent';
    position: absolute;
    left: 2.7em;
    animation: fadeIn 1.3s

}
.mail-folder-list:hover  .mail-folder-list-sent::after {
    content: 'Sent';
    position: absolute;
    left: 5.7em;
     animation: fadeIn 0.8s

}
.mail-folder-list:hover  .mail-folder-list-inbox::after {
    content: 'Inbox';
    position: absolute;
    left: 5.7em;
     animation: fadeIn 1.3s

}
.mail-folder-list:hover  .mail-folder-list-draft::after {
    content: 'Draft';
    position: absolute;
    left: 5.7em;
     animation: fadeIn 1.3s

}
.mail-folder-list-inbox,
.mail-folder-list-draft, 
.mail-folder-list-inbox, 
.mail-folder-list-sent,
.mail-folder-list-pen{
    font-family: Roboto;
}

