.mail-filter {
    all: unset;
    background: #eaf1fb;
    width: 40%;
    height: 3rem;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;


}

.mail-filter input{
    all: unset;
    flex-grow: 1;
    font-size: 16px;
    width: 70%;

}
.mail-filter span{
    cursor: default;
    margin-inline-end: 1rem;
    font-size: 20px;

}
.mail-filter-btn{
    width: 20%;
    display: flex;
    justify-content: space-around;
    
}