.home {
    height: 100vh;
}

.main-home {
    width: 30vw;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 60px;
    justify-content: space-between;
    margin-bottom: 50px;
}


.home .home-logo {
    width: 60vw;
    margin: 60px auto 60px;
}


@media (min-width: 780px) {

    .home .home-logo {
        width: 50vw;
        margin: 100px auto 100px;
    }

    .main-home {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0 0;
        margin-bottom: 0px;
        width: 40vw;
    }



}