:root {

    /* pallete */

    --main-bg-color: #f6f8fc;
    --secondery-bg-color: white;

    --body-font-color: #202124;
    --body-font-color2: #747775;

    /* note */
    --note-bar-side-active: #feefc3;
    --note-bar-side-bgc: #f1f3f4;
    --note-bar-side-color: #202124;
    --note-bar-side-icon: rgb(95, 99, 104);


    /* edit note color */
    --edit-note-color1: #ffb6c1;
    --edit-note-color2: #ffffe0;
    --edit-note-color3: #fafad2;
    --edit-note-color4: #add8e6;

}