.note-edit {}

.note-edit-form {}

.note-edit-form textarea {
    box-shadow: -1px 1px 4px 0px #c2c3c3;
    border-color: #c2c3c3;
    border-radius: 5px;
    height: 200px;
    width: 50vw;
    border: none;
    padding: 20px;
    font-size: 1.5em;
}

.note-edit-form textarea:focus {
    outline: none;
}


.edit-note-input::placeholder {
    font-family: roboto;
}

.btn-edit-note,
.btn-edit-cancel {
    position: absolute;
    color: inherit;
    padding: 5px 15px;
    border-radius: 5px;
    color: #6b6b6b;
    border: none;
    bottom: 10px;
}

.btn-edit-cancel {
    right: 5px;

}

.btn-edit-note {
    left: 5px;
    background-color: inherit;
    font-size: inherit;
}




.btn-edit-note:hover,
.btn-edit-cancel:hover {
    background-color: rgba(201, 201, 201, 0.226);
}