.note-edit-menu {
    display: flex;
    align-items: center;
    position: relative;
    opacity: 0;
    justify-content: space-around;
    padding-top: 5px;
}

.btn-design {
    padding: 5px;

}

.bgc-input {
    opacity: 0;
    cursor: pointer;

}

.color-change {
    padding-top: 7px;

    position: absolute;
    align-self: center;
}

.un-pinned {
    color: rgb(128, 128, 128);
}

.color-picker {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
    margin-inline: 5px;
}



button.color-picker.pink {
    background-color: var(--edit-note-color1)
}

button.color-picker.yeliow {
    background-color: var(--edit-note-color2)
}

button.color-picker.green {
    background-color: var(--edit-note-color3)
}

button.color-picker.blue {
    background-color: var(--edit-note-color4)
}