.note-side-bar-section {
    border-right: rgb(204, 204, 206) 1px solid;
    max-width: 100px;
}

.note-side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 0.5em; */
    /* height: 25vh; */
    align-content: center;
}

/* .note-side-bar:hover {
    margin-right: 100px;
} */

.note-side-bar a {
    font-size: 1.5em;
    padding: 1em;
    border-radius: 50%;
    align-self: center;
}

.note-side-bar a:hover {
    background-color: var(--note-bar-side);
    /* margin-right: 200px; */
}