.note-side-bar-section {
    height: 100%;
    /* max-width: 100px; */
    /* border-right: rgb(204, 204, 206) 1px solid; */
}

.note-side-bar {
    /* border-right: rgb(204, 204, 206) 1px solid; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center; */
    /* height: 100%; */
    padding-inline-start: 1em;
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    position: fixed;
    width: 83px;
    z-index: 1;
    background: var(--secondery-bg-color);
    transition: width 400ms;
    font-family: roboto, serif;

}


.note-side-bar:hover {
    width: 250px;
}

.btn-side-bar {
    font-size: 1.5em;
    padding: 1em;
}

.btn-side-bar.active {
    border-radius: 50%;
    background-color: var(--note-bar-side);
}

.note-side-bar:hover .btn-side-bar.active {
    border-radius: 50px;
    padding-inline-end: 180px;
    transition: padding-inline-end 500ms;
}

.btn-side-bar:hover {
    padding-inline-end: 180px;
    border-radius: 50px;
    background-color: rgba(222, 222, 225, 0.378);
}

.btn-side-bar.active:hover {
    background-color: var(--note-bar-side);
}

.note-side-bar:hover .note-side-bar-lightbulb::after {
    content: 'All notes';
    position: absolute;
    left: 3.5em;
    animation: fadeIn 1.7s;
    font-weight: bold;
}

.note-side-bar:hover .note-side-bar-text::after {
    content: 'Text notes';
    position: absolute;
    left: 3.5em;
    animation: fadeIn 1.7s;
}

.note-side-bar:hover .note-side-bar-thumbtack::after {
    content: 'Pined notes';
    position: absolute;
    left: 3.5em;
    animation: fadeIn 1.7s;
}

.note-side-bar:hover .note-side-bar-image::after {
    content: 'Image notes';
    position: absolute;
    left: 3.5em;
    animation: fadeIn 1.7s;
}

.note-side-bar:hover .note-side-bar-list::after {
    content: 'Todos notes';
    position: absolute;
    left: 3.5em;
    animation: fadeIn 1.7s;
}

.note-side-bar:hover .note-side-bar-trash::after {
    content: 'Trash';
    position: absolute;
    left: 3.5em;
    animation: fadeIn 1.7s;
}

.note-side-bar-lightbulb,
.note-side-bar-list,
.note-side-bar-image,
.note-side-bar-thumbtack,
.note-side-bar-text,
.note-side-bar-trash {
    font-family: Roboto;

}