
.mail-index{
  flex-grow: 1;
  padding: 2em;

  margin: 0;
  position: relative;
    background: var( --main-bg-color);
    display: grid;
    grid-template-columns: 0.5fr 5fr;
    grid-template-rows: 0.2fr 5fr;
    grid-template-areas: 
      "header header header header"
      "sidebar main main main"
  }



.mail-filter {
  grid-area: header;
}
.mail-list {
  grid-area: main;
}
.mail-folder-list{
  grid-area: sidebar;
}

