
.mail-index{
  flex-grow: 1;
  overflow: hidden;
  font-size: 18px;

  margin: 0;
  position: relative;
    background: var( --main-bg-color);
    display: grid;
    grid-template-columns: 0.5fr 5fr;
    grid-template-rows: 5fr;
    grid-template-areas: 
      "sidebar main main main"
  }



.mail-filter {
  grid-area: header;
}
.mail-list {
  grid-area: main;
}
.mail-details {
  grid-area: main;
}
.mail-folder-list{
  grid-area: sidebar;
}

