
@font-face {
    font-family: roboto;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: robotoBold;
    src: url(/assets/fonts/roboto/Roboto-Bold.ttf);
}




/* font awsome */

@font-face {
    font-family: fa;
    src: url(/assets/webfonts/fa-regular-400.ttf);
}
@font-face {
    font-family: fa-solid;
    src: url(/assets/webfonts/fa-solid-900.ttf);
}

.fa::before {
    font-family: fa;
}


/* font awsome icons */

.fa.star::before{
    content: "\f005";
}
.fa-solid.star::before{
    content: "\f005";
}


.fa.plus::before{
    content: "\2b";
}

.fa.file::before{
    content: "\f15b";
}

.fa.sent::before{
    content: "\f1d8";
}

.fa-solid.inbox::before{
    content: "\f01c";
}

.fa.envelope::before{
    content: "\f0e0";
}

.fa.envelope-open::before{
    content: "\f2b6";
}



html{
    font-family: roboto, serif;
    color: var(--body-font-color);
    line-height: 1.5;

}

body {
    font-size: 0.875rem;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
