header {
    background: var(--main-bg-color);
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: #209cee;
}

nav a.active {
    color: #209cee;
    font-weight: bold;
    /* text-decoration: overline; */
}

.logo {
    padding-inline: 10px;

}

.logo img {
    width: 20%;
    align-self: center;
    margin-top: 7px;
}