header {
    background: var(--main-bg-color);
    height: 80px;
    padding: 1rem;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: rgb(56, 182, 255);
}

nav a.active {
    color: rgb(56, 182, 255);
    font-weight: bold;

}


.logo {
    width: 100px;
    margin-inline: 15px;
    margin-top: 5px;
}